@page "{id?}"
@model Webshop.UI.Pages.User.Order.MakeModel
@{ 
    Layout = "/Pages/User/_Layout.cshtml";
}

<form asp-page="/User/Card" asp-page-handler="Pay" method="POST">
    <div class="card-deck">
        @foreach (var card in Model.Cards)
        {
            <div class="card text-center" style="width: 15rem">
                <div class="card-body">@card.Name</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="height:3rem;">@card.Number.ToString("#### #### #### ####")</li>
                    <li class="list-group-item" style="height:3rem;">
                        <input class="form-check-input ml-0" type="radio" name="cardId" id="value{@card.Id}" value="@card.Id" required />
                    </li>
                </ul>
            </div>
        }
    </div>
    <div class="form-group">
        <label for="paymentCode">Kod (Namnet på inloggad användare: @Model.SessionInfo_Customer.Name)</label>
        <input type="password" class="form-control" id="PassString" placeholder="" name="PassString" required>
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger" role="alert">@TempData["ErrorMessage"]</div>
        }
    </div>
    <input type="hidden" value="@Model.OrderId" name="OrderId" id="OrderId" />
    <button type="submit" class="btn btn-primary">Submit</button>

</form>