@page
@model Webshop.UI.Pages.User.Order.Receipt

<div class="order">
    <h2>Kvitton</h2>
    @foreach (var Order in @Model.OrderProductQuantity)
    {
        double sum = 0;
        <table class="table">
            <thead class="thead-dark">
                <tr>Betalades: @(Model.CustomerReceipts.Single(r=>r.OrderId == Order.Key.Id).Date_paid.ToString("R"))</tr>
                <tr>
                    <th scope="col">Namn</th>
                    <th scope="col">Antal</th>
                    <th scope="col">á Pris</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var OrderRow in Order.Value)
                {
                    <tr>
                        <td>@OrderRow.Key.Name</td>
                        <td>@OrderRow.Value</td>
                        <td>@OrderRow.Key.Price</td>
                        <td>@((OrderRow.Key.Price * OrderRow.Value).ToString("N")) kr</td>
                        @{sum += OrderRow.Key.Price * OrderRow.Value;}
                    </tr>
                }
            </tbody>
        </table>

    }
</div>