@page
@model Webshop.UI.Pages.IndexModel
@if (default != Model.SessionInfo_Customer)
{
    // @await Html.PartialAsync("_UserMenu")
    Layout = "/Pages/User/_Layout.cshtml";
}
else { Layout = "_Layout"; }
<form asp-page="/Index" asp-page-handler="Sort" method="POST">
    <select name="sortTerm" id="sortTerm" onchange="this.form.submit()">
        <option>Sortera enligt:</option>
        <option value="desc">Högsta Pris</option>
        <option value="asc">Lägsta pris</option>
    </select>
</form>
<div class="d-flex flex-fill flex-wrap m-auto">
    @foreach (var product in Model.products)
    {
        <div class="card m-1" style="min-width:16rem; max-width:16rem">
            <img src="@product.Image" class="card-img-top p-3" alt="...">
            <div class="card-body">
                <h5 class="card-title">@product.Name</h5>
            </div>
            <div class="list-group list-group-flush">
                <a href="#prod@(product.Id)" class="list-group-item list-group-item-action" data-toggle="collapse">Description:</a>
                <div class="list-group-item collapse" id="prod@(product.Id)">@product.Desc</div>
                <div class="list-group-item">@product.Price.ToString("N") kr</div>
            </div>
            @if (default != Model.SessionInfo_Customer)
            {
                <div class="card-footer">
                    <a id="add@(product.Id)" asp-page="/User/Cart" asp-route-id="@product.Id" asp-page-handler="Add" class="addremove btn btn-primary">Lägg till i varukorg</a>
                </div>
            }
        </div>
    }
</div>