@page
@model Webshop.UI.Pages.IndexModel
@if (default != Model.SessionInfo_Customer) {
    @await Html.PartialAsync("_UserMenu")
}
<div class="d-flex flex-fill flex-wrap w-75 m-auto align-content-center">
    @foreach (var product in Model.products)
    {
        <div class="card m-1" style="min-width:16rem; max-width:16rem">
            <img src="@product.Image" class="card-img-top p-3" alt="...">
            <div class="card-body">
                <h5 class="card-title">@product.Name</h5>
            </div>
            <div class="list-group list-group-flush">
                <a href="#prod@(product.Id)" class="list-group-item list-group-item-action" data-toggle="collapse">Description:</a>
                <div class="list-group-item collapse" id="prod@(product.Id)">@product.Desc</div>
                <div class="list-group-item">@product.Price.ToString("N") kr</div>
            </div>
            @if (default != Model.SessionInfo_Customer)
            {
                <div class="card-footer">
                    <a asp-page="/User/Cart" asp-route-id="@product.Id" asp-page-handler="Add" class="btn btn-primary">Lägg till i varukorg</a>
                </div>
            }
        </div>
    }
</div>